---
import { Header, Footer } from "@components/react-components";
import { HomeSection, BestSelersSection } from "@components/astro-components";

import RootLayout from "@layouts/RootLayout.astro";
import LatestPostsSection from "@components/astro-components/LatestPostsSection.astro";
---

<RootLayout title="Home">
  <Header client:only />

  <main class="px-32 max-w-[1440px] mx-auto" >
    <HomeSection />

    <BestSelersSection />

    <LatestPostsSection />
  </main>

  <Footer />
</RootLayout>
