---
import ProductCard from "@components/react-components/ProductCard";
import SectionTitleComponent from "./SectionTitleComponent.astro";
import { getProducts } from "@src/data/services/ProductService";

const products = await getProducts();

---

<section class="my-24 w-full flex flex-col items-center">
  <SectionTitleComponent title="Best Selers" />

  <div class="grid grid-cols-4 gap-6 mt-8">
    {
      products.map(product => <ProductCard product={product} />)
    }
  </div>
</section>
