---
import ProductCard from "@components/react-components/ProductCard";

---

<section class="my-24 w-full flex flex-col items-center">
  <p class="flex divider text-2xl text-zinc-800">Best Selers</p>

  <div class="grid grid-cols-4 gap-6 mt-8">
    <ProductCard image="https://images.unsplash.com/photo-1581938165093-050aeb5ef218?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" price={500} title="Daisy" />
    <ProductCard image="https://images.unsplash.com/photo-1581938165093-050aeb5ef218?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" price={500} title="Daisy" />
    <ProductCard image="https://images.unsplash.com/photo-1581938165093-050aeb5ef218?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" price={500} title="Daisy" />
    <ProductCard image="https://images.unsplash.com/photo-1581938165093-050aeb5ef218?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" price={500} title="Daisy" />
  </div>
</section>

<style>
  .divider::after {
    content: ' ';
    width: 160px;
    height: 2px;
    margin-left: 20px;
    background-color: #D9D9D9;
    align-self: center;
  }

  .divider::before {
    content: ' ';
    width: 160px;
    height: 2px;
    margin-right: 20px;
    background-color: #D9D9D9;
    align-self: center;
  }
</style>