---
import PostCard from '@components/react-components/PostCard';
import SectionTitleComponent from './SectionTitleComponent.astro';
import { getPosts } from '@src/data/services/PostService';

const latestPosts = await getPosts();
---

<section class="w-full flex flex-col pb-24">
  <SectionTitleComponent title="Latest Posts" />

  <div class="grid grid-cols-3 mt-5 gap-8">
    {
      latestPosts.map(post => <PostCard _post={post} />)
    }
  </div>
</section>